:root {
  --branding-color-1: #260c1a;
  --branding-color-2: #e8cebf;
  --branding-color-3: #ffffdb;
  --branding-color-4: #143f5c;
  --branding-color-5: #fdea6e;
  --branding-color-6: #b8ae32;
  --heading-font-family: "Playfair Display SC", serif;
  --sub-heading-font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--branding-color-4);
}
h1 {
  font-size: 54px;
  line-height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: var(--heading-font-family);
  color: var(--branding-color-5);
}
.greeting {
  font-size: 54px;
  line-height: 40px;
  text-align: center;
  color: var(--branding-color-5);
  font-family: var(--heading-font-family);
}
h2 {
  font-size: 20px;
  font-family: var(--sub-heading-font-family);
  margin-top: 15px;
  margin-bottom: 25px;
  color: var(--branding-color-3);
}
p {
  margin-bottom: 25px;
  font-size: 17px;
  font-family: var(--sub-heading-font-family);
  color: var(--branding-color-3);
}
a {
  margin-top: 10px;
  padding: 10px 20px;
  background: var(--branding-color-3);
  color: var(--branding-color-4);
  border-radius: 30px 30px;
  font-weight: 500;
  font-size: 1.25em;
  text-transform: uppercase;
  text-decoration: none;
}
.image {
  text-align: center;
  border-radius: 30px;
}
.container {
  padding: 100px 20px;
  align-items: center;
  justify-content: center;
}
.about-section {
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.edu {
  text-align: center;
  padding: 25px;
  font-size: 34px;
  text-transform: uppercase;
  color: var(--branding-color-5);
  font-family: var(--heading-font-family);
}
.education {
  padding-left: 36px;
}
.diploma {
  font-size: 17px;
  color: var(--branding-color-6);
  font-family: var(--heading-font-family);
}
.cargo {
  font-size: 16px;
  color: var(--branding-color-6);
  font-family: var(--sub-heading-font-family);
  margin-bottom: 15px;
}
.discription {
  font-size: 15px;
  font-family: var(--sub-heading-font-family);
  color: var(--branding-color-3);
}
.high {
  font-size: 17px;
  color: var(--branding-color-6);
  font-family: var(--heading-font-family);
  margin-top: 20px;
  margin-bottom: 15px;
}
.school {
  font-size: 15px;
  font-family: var(--sub-heading-font-family);
  color: var(--branding-color-3);
  text-transform: lowercase;
}

@media (max-width: 900px) {
}
